@charset "UTF-8";

@media (max-width: 75em) {
    html {
      font-size: 90%;
    }
  }
  @media (max-width: 50em){
    .ewerton h1{
        padding-top: vw; 
        }
      }
  @media (max-width: 55em) {
    html {
      font-size: 70%;
    }
  } 

  @media (max-width: 61.25em){
    .progamas{
        padding: 1vw;
        display: flex;
        flex-flow: wrap;
    }
  }
  @media (max-width: 61.25em){
    .container img{
        position: absolute;
        top: 25%;
        left: 50%;
    }
  }
  @media (max-width: 61.25em){
    .projetos {
        display: flex;
        flex-flow: wrap;
    }
  }
  @media (max-width: 61.25em){
    .projeto1{
        padding: 10px;
        
    }
  }
  @media (max-width: 61.25em){
    .projetos img{
        width: 250px;
        height: 250px;
    }
  }
  
  @media (max-width: 28.75em) {
    html{
      font-size: 60%;
    } 
  }
  @media (max-width: 28.75em){
    .ewerton h1{
        padding-top: 36vw;
    }
  }
  @media (max-width: 28.75em){
    .progamas{
        padding: 1vw;
        display: flex;
        flex-flow: wrap;
        
    }
    @media (max-width: 28.75em){
      .progamas img{
        height: 150px;
      }
  }
  @media (max-width: 28.75em){
    .container img{
      width: 100px;

    }
  }
  @media (max-width: 28.75em){
    .container img{
        position: absolute;
        top: 20%;
        left: 50%;
    }
  }
  @media (max-width: 28.75em){
    .projetos {
        display: flex;
        flex-flow: wrap;
    }
  }
  @media (max-width: 28.75em){
    .projeto1{
        padding: 12px;
        
    }
  }
  @media (max-width: 28.75em){
    .projetos img{
        width: 250px;
        height: 250px;
    }
  } 
  @media (max-width: 28.75em){
    ul li{
      font-size: 20px;
      height: 30px;
      width: 30px;
    }
  @media (max-width: 28.75em){
    .navegar{
      display: flex;
      justify-content: space-around;
    }
  }
  @media (max-width: 28.75em){
    .progamas{
      padding: 3vh;
    }
  }
    }

}

  
  
