@charset "UTF-8";

@media (max-width: 75em) {
    html {
      font-size: 90%;
    }
  }
   @media (max-width: 55em) {
    html {
      font-size: 70%;
    }
  } 
  @media (max-width: 400px) {
    html{
      font-size: 60%;
    } 
  }

  @media (max-width: 999px){
    .progamas{
        padding: 1vw;
        display: flex;
        flex-flow: wrap;
    }
  }
  
  @media (max-width: 1800px){
    .container img{
      top: 32%;
      left: 50%;
      width: 250px;  
    }
  }
  @media (max-width: 900px){
    .container img{
      top: 29%;
      left: 50%;
      width: 200px;  
    }
  }
  @media (max-width: 400px){
    .container img{
      top: 29%;
      left: 50%;
      width: 120px;  
    }
  }
  @media (max-width: 400px){
    .ewerton{
      width: 100%;
    }
  }
  @media (max-width: 900px){
    .ewerton{
      width: 100%;
    }
  }
  @media (max-width: 1800px){
    .ewerton{
      width: 100%;
      padding-top: 35vh;
    }
  }
  @media (max-width: 1800px){
    .ewerton h1{
      padding-top: 11vh;
    }
  }
  @media (max-width: 900px){
    .ewerton h1{
      padding-top: 0;
    }
  }
  @media (max-width: 400px){
    .ewerton h1{
      padding-top: 3vh;
      
    }
  }
  @media (max-width: 400px){
    .ewerton h3{
      
    }
  }
  @media (max-width: 400px){
    .projetos {
    flex-wrap: wrap;
    
    }
  }
  @media (max-width: 400px){
    .projeto1 {
    padding: 15px;
    
    
    }
  }

  @media (max-width: 400px){
    body{
      
    }
   }

  @media (max-width: 999px){
    .nav-list{
      position: absolute;
      top:8vh;
      right: 0;
      width: 35vw;
      height: 40vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      z-index:1;
      transition: transform 0.3s ease-in;
    }
  }
  @media (max-width: 400px){
    .nav-list li{
      display: block;
      padding: 20px 0px;
    } 
  }
  
  @media (max-width: 1800px){
    .nav-list li a{
      display: block;
      padding: 10px 10px
    } 
  }
  @media (max-width: 999px){
    .nav-list li{
      margin-left: 0;
      opacity: 0;
    }
   }
   @media (max-width: 999px){
    .menu{
      display: block;

    }
  }
  @media (max-width: 400px){
    .btn_social ul li{
      margin:4px;
    }
  }



    


  
  
