@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
}

html,body{
    background-color: rgb(99, 99, 99);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
    justify-content: flex-end;
    padding-right: 15px;
    

}

.nav-list{
  list-style: none;
  display: flex;
  

}
.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}
.nav-list.active{
    transform: translateX(0);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.menu{
  cursor: pointer;
  display: none;
  
}
.menu div{
    width: 33px;
    height: 1px;
    background: #ffffff;
    margin: 7px;
}

.button1{ 
    position: relative;
    overflow: hidden;
    transition: .1s;  
    margin: 0; 
    
}
.button1:hover{
    background: rgb(6, 1, 78);
    box-shadow: 0 0 10px rgb(2, 1, 78), 0 0 15px rgb(71, 19, 119), 0 0 30px rgb(1, 2, 80) ;
    color: white;
    
    transition: .1s;
}
.button1 span{
    position: absolute;
    display: block;
}
.ewerton{
    background-image: linear-gradient(0deg, rgba(117, 117, 117, 0) 7%, rgba(0, 0, 0, 0.5) 100%);
    text-align: center;
    padding: 3vw 0vw;
    margin: 0px;
    color: white;
    
}
.container img{
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 244px;
    max-width: 1200px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 10px 6px 8px rgb(41 41 41 / 64%);
}
.ewerton h1{
    padding-top:12vw;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    text-shadow: 7px 1px 10px rgba(0, 0, 0, 0.555);
}
.ewerton h3{
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 1px 3px black;
}
.projeto{
    background-image: linear-gradient(to bottom, #4481eb 10%, #04befe 90%)
}


.projetos {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 3.5vw;
    
}

.titulo{
    text-align: center;
    font-size: 2rem;
    background-color: white;  
}
.projeto h1{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 3px rgb(255, 255, 255);
}
.projeto1 img{
    display: flex;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 2px 3px black;
    
}
.projeto1 a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #0c2333;
    border-radius: 0px 0px 5px 5px;
    color: white;
    box-shadow: 1px 2px 3px black;
    font-family: 'Inconsolata', monospace;
}
.projeto1 a:hover{
  background-color: #04befe;
  color: #171515;
  font-weight: bold;
  transition: .1s;

}
.progamas{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0.5) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.progamas img{
    height: 250px;
}

.criado{
    background-color: #3f3f3f;
    color: rgb(252, 252, 252);
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}
.criado a{
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.criado a:hover{
  color: rgb(7, 0, 110);
  transition: .1s;
}
