

.titulo{
    text-align: center;
    font-size: 2rem;
    background-color: rgb(99, 99, 99);
    font-family: 'Chakra Petch', sans-serif;
    max-width: 100vw;  
}
.titulo h1{
  color: white;
  box-shadow: 9px 10px 56px 12px rgba(0,0,0,0.35);
}
.visually-hidden{
  z-index: -1;
  
}



