.projeto{
    background-color: #242424;
}

.projetos {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 83vh;
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(111,111,111,1) 100%);
}

.titulo{
    text-align: center;
    font-size: 3rem;
    background-color: rgba(117, 117, 117, 0.774);
    padding-top: 50px;
}

.projeto1 img{
    display: flex;
    border-radius: 5px 5px 0px 0px;
    height: 250px;
    width: 250px;
}

.projeto1 a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #0c2333;
    border-radius: 0px 0px 5px 5px;
    color: white;
    box-shadow: 1px 2px 3px black;
    font-family: 'Inconsolata', monospace;
}

.projeto1 a:hover{
  background-color: #252525;
  color: #171515;
  font-weight: bold;
  transition: .1s;
  font-weight: bold;
}