.projeto{
    background-color: #242424;
}

.projetos {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 83vh;
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(111,111,111,1) 100%);
}

.titulo{
    text-align: center;
    font-size: 4rem;
    background-color: rgba(117, 117, 117, 0.774);
    padding-top: 50px;
    font-family: 'Inconsolata', monospace;
    
}

.projeto1 img{
    box-shadow: 2px 5px 50px black;
    display: flex;
    border-radius: 50px 50px 0px 0px;
    height: 250px;
    width: 250px;
}

.projeto1 a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #0c2333;
    border-radius: 0px 0px 50px 50px;
    color: white;
    font-family: 'Inconsolata', monospace;
}

.projeto1 a:hover{
  background-color: #161616;
  color: #ffffff;
  font-weight: bold;
  transition: .1s;
}