@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


*{
    padding: 0;
    margin: 0;
}
body, html{
    
    scroll-behavior: smooth;
    background-color: rgb(99, 99, 99); 
    scroll-padding-top: 55px;
}

.ewerton{
  background: #8f8f8f;
  background: -webkit-linear-gradient(0deg, #8f8f8f 0%, #343434 100%);
  background: linear-gradient(0deg, #8f8f8f 0%, #343434 100%);
  text-align: center;
  max-width: 100vw;
  height: 43vw;
  color: white;
}
@media (max-width: 400px){
    .ewerton{
        height: 139vw;
    }
}

.ewerton h1{
  font-family: 'Chakra Petch', sans-serif;
  padding-top:4vw;
  font-size: 5em;
  max-width: 100vw;
  top: 55%;
  position: relative;
  text-shadow: 2px 1px 3px black;
  
}

@media (max-width: 400px){
  .ewerton h1{
    font-size: 3.5em;
    top: 74%;
    
  }
}

.ewerton h3{
  font-size: 2rem;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow: 2px 1px 3px black;
  position: relative;
  width: 100%;
  top: 60%;
}

@media (max-width: 400px){
  .ewerton h3{
    font-size: 2.5em;
    top: 74%;
  }
}

.container img{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 3px 2px 15px rgba(51, 51, 51, 0.555); 
    transition: all .8s;
    border: 15px solid transparent;
}

@media (max-width: 400px){
    .container img{
      top: 35%;
      left: 50%;
      width: 200px;  
  }
}

.animation{
    animation: Cursor 600ms infinite normal, typing 3s steps(50) 1s normal both;
}

.line{
    color: rgba(255, 255, 255, 0.932);
    border-right: 3px solid rgba(0, 0, 0, 0.959);
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 11em;
    }
}

@keyframes Cursor{
    form{
        border-right-color:rgba(255, 255, 255, .75);
    }
    to{
        border-right-color:transparent
    }
}



.criado{
    background-color: #22222c;
    color: rgb(252, 252, 252);
    font-size: 1.1em;
    padding: 2px;
    text-align: center;
    max-width: 100vw;
}

.criado a{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.criado a:hover{
  color: rgb(104, 106, 199);
  transition: .1s;
}

@media (max-width: 75em) {
  html{
    font-size: 80%;
  }
}
   @media (max-width: 55em) {
  html {
    font-size: 60%;
  }
} 
 


