@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
}
body, html{
    
    scroll-behavior: smooth;
    background-color: rgb(99, 99, 99); 
    scroll-padding-top: 90px;
}


.ewerton{
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(0,0,0,1) 100%);
    text-align: center;
    max-width: 100vw;
    height: 80vh;
    color: white;
}
@media (max-width: 400px){
    .ewerton{
        height: 40vh;
    }
}
.container img{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 3px 2px 15px rgba(51, 51, 51, 0.555); 
    transition: all .8s;
    border: 15px solid transparent;
}
@media (max-width: 400px){
    .container img{
      top: 18%;
      left: 50%;
      width: 140px;  
    }
  }

.ewerton h1{
    font-family: 'Inconsolata', monospace;
    padding-top:4vw;
    font-size: 5em;
    max-width: 100vw;
    top: 55%;
    position: relative;
}
@media (max-width: 400px){
    .ewerton h1{
      font-size: 3.5em;
      top: 74%;
    }
  }
.ewerton h3{
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 1px 3px black;
    position: relative;
    width: 100%;
    top: 60%;
    
}
@media (max-width: 400px){
    .ewerton h3{
      font-size: 2.5em;
      top: 74%;
    }
  }

.animation{
    animation: Cursor 800ms infinite normal, typing 4s steps(50) 1s normal both;
}
.line{
    color: rgba(255, 255, 255, 0.932);
    font-family: monospace;
    border-right: 3px solid rgba(0, 0, 0, 0.959);
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 12em;
    }
}
@keyframes Cursor{
    form{
        border-right-color:rgba(255, 255, 255, .75);
    }
    to{
        border-right-color:transparent
    }
}


.progamas{
    background: rgba(48,48,48,1);
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    max-width: 100vw;
    margin: 0;
    
}
@media (max-width: 400px){
    .progamas{
        
        max-width: 100vw;

    }
  }
.progamas img{
    max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 100px;
}

.criado{
    background-color: #22222c;
    color: rgb(252, 252, 252);
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    max-width: 100vw;
}
.criado a{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.criado a:hover{
  color: rgb(7, 0, 110);
  transition: .1s;
}


